<div class="container container-big">
    <div id="registerHeading" [hidden] = "hideForm">
        <div *ngIf="authenticationMethod == 'LOCAL'; else elseBlock ">
            <h1>Register</h1> 
        </div>
        <ng-template #elseBlock>
                <h1>Register using your {{displayedOAuthProviderName}} account</h1>
                <p>Please review and complete your profile.</p>            
        </ng-template>
           
        <div *ngIf="appProperties?.demoMode || appProperties?.ephiProhibited">
            <div class="alert alert-warning">
                <strong>Disclaimer: Loading real patient data into the system is strictly prohibited!</strong>
            </div>    
        </div>    
    </div>
    <div *ngIf="messageBoard.showMessage==true" [ngClass] = "messageBoard.styleClass">
            <p [innerHTML] = "messageBoard.message"></p>
    </div>
    
    <form [formGroup]="registerForm" (ngSubmit)="registerUser()" [hidden] = "hideForm" >
        <div class="row">
            <div class="col-sm-6">
                <div [ngClass] = "formgroupClass('registerForm','firstName')">
                    <label for="firstName" class="control-label">First Name: </label>
                    <input type="text" formControlName="firstName" class="form-control" />
                    <div *ngIf="registerForm.controls['firstName'].hasError('required') && submitted" class="help-block">
                        <b>You must include a first name.</b>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div [ngClass] = "formgroupClass('registerForm','lastName')">
                    <label for="lastName" class="control-label">Last Name: </label>
                    <input type="text" formControlName="lastName" class="form-control"/>
                    <div *ngIf="registerForm.controls['lastName'].hasError('required') && submitted" class="help-block">
                        <b>You must include a last name.</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div [ngClass] = "formgroupClass('registerForm','organization')">
                    <label class="control-label">Organization: </label>
                    <input type="text" formControlName="organization" class="form-control"/>
                    <div *ngIf="registerForm.controls['organization'].hasError('required') && submitted" class="help-block">
                        <b>You must include a organization.</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div [ngClass] = "formgroupClass('registerForm','title')">
                    <label class="control-label">Title: </label>
                    <input type="text" formControlName="title" class="form-control"/>
                    <div *ngIf="registerForm.controls['title'].hasError('required') && submitted" class="help-block">
                        <b>You must include a title.</b>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div [ngClass] = "formgroupClass('registerForm','department')">
                <label class="control-label">Department: </label>
                <input type="text" formControlName="department" class="form-control"/>
                <div *ngIf="registerForm.controls['department'].hasError('required') && submitted" class="help-block">
                        <b>You must include a Department.</b>
                </div>    
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-sm-6">
                <div [ngClass] = "formgroupClass('registerForm','email')">
                <label class="control-label">Email Address: </label>
                <input type="text" formControlName="email" class="form-control"/>
                <div *ngIf="registerForm.controls['email'].errors && submitted" class="help-block">
                        <b>You must include a valid email.</b>
                </div>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-sm-6">
                <div [ngClass] = "{'has-error': registerForm.hasError('emailMismatch') && submitted?true:false, 'form-group':true}">
                <label class="control-label">Verify Email Address: </label>
                <input type="text" formControlName="verifyEmail" class="form-control"/>
                <div *ngIf="registerForm.hasError('emailMismatch') && submitted " class="help-block">
                        <b>Emails do not match.</b>
                </div>    
                </div>
                
            </div>
        </div> 
        <div *ngIf="authenticationMethod == 'LOCAL'" class="row">
            <div class="col-sm-6">
                <div [ngClass] = "formgroupClass('registerForm','password')">
                <label class="control-label">Password: </label>
                <input type="password" formControlName="password" class="form-control"/>
                <div *ngIf="registerForm.controls['password'].errors && submitted" class="help-block">
                        <b>Passwords must be at least 8 characters and contain at least
                    one letter & digit</b>
                </div>    
                </div>
            </div>
        </div>  
        <div *ngIf="authenticationMethod == 'LOCAL'" class="row">
            <div class="col-sm-6">
                <div [ngClass] = "{'has-error': registerForm.hasError('passwordMismatch')&&submitted?true:false, 'form-group':true}">
                <label class="control-label">Confirm Password: </label>
                <input type="password" formControlName="verifyPassword" class="form-control"/>
                <div *ngIf="registerForm.hasError('passwordMismatch') &&submitted " class="help-block">
                        <b>Passwords do not match.</b>
                </div>    
                </div>
            </div>
        </div>       

        <div *ngIf="authenticationMethod == 'LOCAL'" class="col-sm-12">
            <div class="form-group">
                *Passwords must be at least 8 characters and contain at least
                one letter & digit
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary text-center" >Submit</button>
                </div>
            </div>
        </div> 
    </form>    
</div>


