<div class="container container-big">
    <div id="registerHeading">
        <div *ngIf="appProperties?.authenticationMethod == 'LOCAL'; else elseBlock ">
            <h1>Register</h1> 
        </div>
        <ng-template #elseBlock>
                <h1>Register using your {{appProperties?.accountTypeDisplayName}}:{{appProperties?.authenticationMethod}} account</h1>
                <p>Please review and complete your profile.</p>            
        </ng-template>
           
        <div *ngIf="appProperties?.demoMode || appProperties?.ephiProhibited">
            <div class="alert alert-warning">
                <strong>Disclaimer: Loading real patient data into the system is strictly prohibited!</strong>
            </div>    
        </div>    
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="saveUser()">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="firstName" class="control-label">First Name: </label>
                    <input type="text" formControlName="firstName" class="form-control" />
                    <div *ngIf="registerForm.controls['firstName'].hasError('required') && (registerForm.controls['firstName'].touched || registerForm.controls['firstName'].dirty)" class="alert alert-danger">
                        You must include a first name.
                    </div>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="lastName" class="control-label">Last Name: </label>
                    <input type="text" formControlName="lastName" class="form-control"/>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Organization: </label>
                    <input type="text" formControlName="organization" class="form-control"/>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Title: </label>
                    <input type="text" formControlName="title" class="form-control"/>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                <label class="control-label">Department: </label>
                <input type="text" formControlName="department" class="form-control"/>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div>    
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                <label class="control-label">Email Address: </label>
                <input type="text" formControlName="email" class="form-control"/>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                <label class="control-label">Verify Email Address: </label>
                <input type="text" formControlName="verifyEmail" class="form-control"/>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                <label class="control-label">Password: </label>
                <input type="password" formControlName="password" class="form-control"/>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                <label class="control-label">Confirm Password: </label>
                <input type="password" formControlName="verifyPassword" class="form-control"/>
                    <span class="help-block default-hidden"></span>
                </div>
            </div>
        </div>       
        <div *ngIf="appProperties?.authenticationMethod == 'LOCAL'" class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    *Passwords must be at least 8 characters and contain at least
                    one letter & digit
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary text-center" [disabled]="!registerForm.valid || submitted" >Submit</button>
                </div>
            </div>
        </div> 
    </form>    
</div>


